body
{
   font-family: Arial !important;
}

/* @media (min-width: 100px) {
    .container{
        max-width: 1340px;
    }
} */

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    border-right: 1px solid #d6d9dc;
}

.button-container{
    margin: 0px 6px 0px 6px;
    padding: 0px 4px 0px 4px;
    width: 100px;
}

.nav-item:hover{
    border-radius: 1000px;
    background-color: #d6d9dc;
}

.fa-comment-alt {
    color: blue;
    cursor: pointer;
}

.fa-check{
    color:green;
    cursor: pointer;
}

.vote {
    background-color: white;
    color: gray;
    cursor: pointer;
}

td:nth-child(1) {
    width: 10%;
    
}
  
td:nth-child(2) {
    width: 90%;
    padding:0px;
}

.post-tags{
    background-color:#E1ECF4;
    color: #39739D;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.post-links{
    color: #848D95;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.post-links:hover{
    color:black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.post-comments{
    color:black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
.right-sidebar{
    border: 1px solid #f1e5bc;
    border-radius: 3px;
    box-shadow: var(--bs-sm);
    margin: 0px 0px 16px;
}
.right-sidebar-blog-head {
    color:#6A737C;
    background-color: #fbf2d4;
    border: 1px solid #f1e5bc;
    position: relative;
    font-size: 12px;
    padding : 12px 15px;
    font-weight: bold;
}

.right-sidebar-blog {
    color:#3C4146;
    background-color: #fcf6cf;
    border: 1px solid #f1e5bc;
    position: relative;
    font-size: 13px;
    padding : 10px 16px
}

.right-sidebar-links{
    overflow-x: hidden;
    margin: 15px 0px 15px;
}

.right-sidebar-links-header{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px 18px;
}

.link-button-basic{
    padding: 1px 0;
    white-space: nowrap;
    width: 38px;
    text-align: center;
    box-sizing: border-box;
    height: 22px;
    float: none;
    border-radius: 2px;
    font-size: 12px;
    background-color: #eff0f1;
    color: #3c4146;
    margin-right: 10px;
}

.link-button-green{
    color: white;
    padding: 1px 0;
    white-space: nowrap;
    width: 38px;
    text-align: center;
    box-sizing: border-box;
    height: 22px;
    float: none;
    border-radius: 2px;
    font-size: 12px;
    background-color: #5eba7d;
    color: #3c4146;
    margin-right: 10px;
}

.right-sidebar-links-content{
    margin: 10px 0px;
    white-space: nowrap;
}

.sidebar-links:hover{
    text-decoration: none;
}

.answer{
    font-size: 15px;
}

.left-sidebar-button{
    cursor: pointer;
}

.left-sidebar-button:hover{
    cursor: pointer;
    font-weight: bold;
}
